

<h2>Blog Posts</h2>
{{#each posts as |post|}}
<div class="card">
  <div class="card-header">
    {{post.title}}
  </div>
  <div class="card-title">
    Published By {{post.user.userName}}
    Published at {{post.createdAt}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post.contents}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{/each}}