{{!-- <form id="log-in-form">
  <input type="text" name="user-name" id="user-name">
  <input type="password" name="password" id="password">
  <button type="submit" id= "log-in-btn">Log In</button>
</form>
<a href="/signup">Need an Account? Sign Up Here</a> --}}

<form method="POST">
  <div class="row mb-3">
    <label for="user-name" class="col-sm-2 col-form-label">User Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="user-name">
    </div>
    
  </div>
  <div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password">
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>

<a href="/signup" class="btn btn-primary my-3">Need An Account? Sign Up Here</a>
<script src="./js/login.js"></script>

