<form action="post">
  <input type="text" name="user-name" id="user-name">
  <input type="password" name="password" id="password">
  <button type="submit">Log In</button>
</form>
<a href="/signup">Need an Account? Sign Up Here</a>

<script src="./js/login.js"></script>